body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.accueil_header{
    background-color: #085186;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 20px;
}

/*.films-a-une, .actualites,.bandes-annonces{
    background-color: #085186;
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}*/
.header-section {
    background-color: #085186;

    width: 97%;

    margin: 20px auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    border: 2px solid #044266;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.scrolling-container {
    max-height: calc(100vh - 50px); /* Ajustez la hauteur selon vos besoins, en prenant en compte la hauteur des sections */
    overflow-y: auto;
}
.bienvenue-section {
    background-image: url("../img/space.jpg"); /* Utilisation de "../" pour remonter d'un niveau si le fichier CSS est dans un sous-dossier */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #044266;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 97%;
color: white;
    margin: 20px auto;
}


.bienvenue-section p {
    margin: 0;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 30px;

}



header nav {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
}


header nav div a{
    text-decoration: none;
    color: #E2F6F0;
    padding: 15px;
    font-size:medium;
    font-weight : 420;
    margin: 10px;
}

.deco{
    border-radius: 10px;
}

.deco:hover{
    background-color: #053B76;
}



main{
    width: 100%;
    height: 100%;
}

header nav .contenu-menu a img.logo_bde{
    border-radius: 50%;
}




table td, table th{
    border: 1px solid black;
    padding: 5px;
}



a[title="Se connecter / S'inscrire"]{
    /* ne marche pas trop 
    float: left;
    width: 20%;
    */
    background-color: #557BAB;
    padding: 15px;
}

a[title="Se déconnecter"]{
    /* ne marche pas trop 
    float: left;
    width: 20%;
    */
    background-color: #d10000;
    padding: 15px;
}

.decore_white{
    color:white;
}

.p_btn{
    margin: 10px;
    background-color: #085186 !important;
    border :1px solid #085186 !important;
    color: white !important;
}

.p_btn_back{
    background-color: #F2F2F2;
    border :1px solid #085186;
    color: black;
    border: #000;
    border-radius: 30px;
}


.p_btn:hover, .p_btn_checked{
    background-color:#053B76 !important;
    border-color: #053B76 !important;
}

.p_btn:active{
    background-color:#053B76;
    border-color: #053B76;
}

.p_btn:focus {
    background-color:#053B76;
    border-color: #053B76;
}

.accueil_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_sc {
    margin-right: 10px;
}

.movie_list{
    width: 200px;
    height: 300px;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie_list .card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

    border-radius: 50%;
    background-color: #085186;
}

.carousel-inner .carousel-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-inner .carousel-item.active {
    opacity: 1;
}
